.title-div {
    background-color: #e2e2e2;
    border: 2px;
    padding: 10px;
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
}

.title {
    font-size: 80px;
    color: rgb(5, 81, 151);
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#recipe-list,
#home-text {
    font-size: 50px
}